* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
 background-color:orange;
 height: 100%;
}


body {
  
    /* background-repeat: no-repeat no-repeat;
    background-image: url(https://images.wallpaperscraft.ru/image/plyazh_pesok_palmy_tropiki_90404_1920x1080.jpg);
    background-position: center;
    background-attachment: fixed; */
    margin:0;
    height:100%;

}

.gridDiv {
    display:grid;
    grid-template-columns: 200px 2fr 2fr;
    grid-template-rows:auto;
    grid-template-areas: 'sidebar header header ' 
                         'sidebar formDiv .'
                         'sidebar formDiv .'
                         'sidebar formDiv .';
    grid-gap:40px;
    height:100%;
}

 
.sidebar {
    height:100%;
    grid-area:sidebar;
    background-color:white;

}

.formDiv { 
    border:1px blue solid;
    border-radius:10px;
    grid-area:formDiv;
    background:transparent;
}

 header {
    grid-area:header;
    background: transparent;
} 
header h1 {
    float: right;
}


.contact_form {
    background:transparent;
    height:100% ;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}

.contact_form input {
    margin-bottom: 20px;
    border-radius:5px;
    border:1px orange solid;
}


li {
    list-style-type: none; 
    margin-bottom:40px;
   }


a {
    text-decoration:none;
}