* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    background-color: orange;
    /* background-repeat: no-repeat no-repeat;
    background-image: url(https://images.wallpaperscraft.ru/image/plyazh_pesok_palmy_tropiki_90404_1920x1080.jpg);
    background-position: center;
    background-attachment: fixed; */
    margin:0;
}

.gridDiv {
    display:grid;
    grid-template-columns: 2fr 2r 2fr;
    grid-template-rows:auto;
    grid-template-areas: 'sidebar header header ' 
                         'sidebar formDiv .'
                         'sidebar formDiv .'
                         'sidebar formDiv .';
    grid-gap:20px;
}

 
.sidebar {
    height:100%;
    grid-area:sidebar;
    background-color:white;

}

.formDiv { 
 grid-area:formDiv;
}

 header {
    grid-area:header;
    background: transparent;
} 
header h1 {
    float: right;
}


.contact_form {
    background-color:white;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}

.contact_form input {
    margin-bottom: 20px;
    border-radius:5px;
    border:1px orange solid;
}


li {
    list-style-type: none; 
   }


